.header{
    display: flex;
    justify-content: center;

}
.links{
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}
.links:hover{
    font-weight: bold;
    color: white;
    background-color:blue;
    transition: .5s;
}